<%= form_for :cats_info  do |f| %>

<% if @cats_info.errors.any? %>
	<div id="error">
		<div>
			<%= pluralize(@cats_info.errors.count, "error") %> found, please adjust incorrect field contents
		</div>
		<ul>
			<% @cats_info.errors.full_messages.each do |msg|%>
			<li>
				<%= msg %>
			</li>
			<%end%>
		</ul>
	</div>
<% end %>

	<p>
		<%= f.label :name%><br>
		<%= f.text_field :name %>
	</p>

	<p>
		<%= f.label :color %><br>
		<%= f.text_field :color %>
	</p>

	<p>
		<%= f.label :picture %><br>
		<%= f.text_field :picture %>
	</p>

	<p>
		<%= f.label :race %><br>
		<%= f.text_field :race %>
	</p>

	<p>
		<%= f.label :gender %><br>
		<%= f.text_field :gender %>
	</p>

	
	<p>
		<%= f.label :details %><br>
		<%= f.text_area :details %>
	</p>

	<p>
		<%= f.submit %>
	</p>
<% end %>

