<div>
	<h2> List containing all cats </h2><br/>
	<div class="container">
	<div class="row">
			<div class="col-md-7">
			<div class="titles">
				<div class="container">
					<div class="row">
						<div class="col-sm-3 a">Name</div>
						<div class="col-sm-3 b">Color</div>
						<div class="col-sm-3 c">Gender</div>
						<div class="col-sm-3 d">Race</div>						
					</div>
				</div>
			</div>
			</div>
		</div>
		<% @cats_infos.each do |cats_info| %>

		<div class="row">
			<div class="col-md-7">
					
					<hr/>
					<div >
						<div class="col-sm-3 a"><%= cats_info.name %></div>
						<div class="col-sm-3 b"><%= cats_info.color %></div>
						<div class="col-sm-3 c"><%= cats_info.gender %></div>
						<div class="col-sm-3 d"><%= cats_info.race %></div>
					</div>	
					<div id="details">
						<h4>Details</h4>
						<div><%= cats_info.details %></div>
					</div>
<br/>
					<div class="ctrls">
						<div class="_custm_btns"><%= link_to 'Edit', edit_cats_info_path(cats_info), class: '_custm_btn' %></div>
						<div class="_custm_btns"><%= button_to 'Delete', cats_info_path(cats_info), :method => :delete, data: { :confirm => 'Are you sure?' }, class: '_custm_btn' %></div>
					</div>
					<br/>			
			</div>


				<div class="col-md-3">
						<div><%= image_tag cats_info.picture.url %></div>
				</div>
				<br/>
			
					
			</div>

	</div>
</div>
<hr/>
<% end %>
<div class="container">
	<div class="row">
		<div><%= link_to 'Add a your cat to our database?', new_cats_info_path , class: '_custm_btn2'%></div>
	</div>
</div>


