<div class="container">
<h2> About <%= @cats_infos.name %></h2><br/>
    <div class="row">
      <div class="col-md-7">
          <p>
            <strong>Name:</strong>
            <%= @cats_infos.name %>
          </p>
           
           <p>
            <strong>Color:</strong>
            <%= @cats_infos.color %>
          </p>
           
           
           
           <p>
            <strong>Gender:</strong>
            <%= @cats_infos.gender %>
          </p>
           
          <p>
            <strong>Race:</strong>
            <%= @cats_infos.race %>
          </p>

          <p>
            <strong>Details:</strong>
            <%= @cats_infos.details %>
          </p>
      </div>
      <div class="col-md-3">
        <p>
            <%= image_tag @cats_infos.picture.url %>
          </p>
        </div>
    </div>
  </div>
   <div class="container">
      <div class="row">
         <div class="._custm_btn col-sm-2"><%= link_to 'Edit', edit_cats_info_path(@cats_infos), :class => '_custm_btn' %></div>
         <br/><div><%= link_to 'View all cats details', cats_infos_path %></div>
      </div>
  </div>